button {
    padding: 5px 15px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

button.btn-primario {
    background-color: #000;
    color: #FFF;
}

button.btn-cancelar {
    background-color: #aaa;
    color: #000;
}