.carrito {
    margin: 10px 5%;
}

.lista-productos-carrito {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 0;
}

.encabezado {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-weight: bold;
    justify-items: start;
}

.botones-carrito {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px 0;
}

.botones-carrito button {
    margin: 0px 10px;
}

.footer-productos-carrito {
    display: flex;
    justify-content: flex-start;
    gap: 0 10px;
}

.footer-productos-carrito .label {
    font-weight: bold;
}